body {
  margin:0;
  font-family: Arial;
  background:#f5f5f5;
}

header {
  background:black;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

nav a {
  color:white;
  margin:10px;
  text-decoration:none;
}

.banner {
  background:url('banner.jpg');
  color:white;
  padding:100px;
  text-align:center;
}

.products {
  display:flex;
  gap:20px;
  padding:20px;
}

.card {
  background:white;
  padding:15px;
  width:200px;
  text-align:center;
  box-shadow:0 0 10px #ccc;
}

.card img {
  width:100%;
}
